
<div class="container">
 <div class="title">ITaLOvE.</div>
  <div class="note">
<!--   <p style="font-style: oblique;">"Italiam quaero patriam."</p> -->
  <p>"italiam quaero patriam."
    <br>
    Je cherche l'Italie.
    <br>
    Virgile, ÉNÉIDE, I
  </p>
  </div>
</div>

