
<div class="container">
  <!-- <div class="ornementation">
      <%= image_tag ("/assets/ornementation.png")%>
  </div>
  <div class= "box">
  <div class="intro-note">
      <div class= "enluminure">
       <%= image_tag ("/assets/enluminure.png")%>
      </div>

       <p>ays   comme une botte de sept lieues, qui transporte son voyageur dans des villes forteresses.
       </p>

 </div> -->
 <div class="title">.Italove.</div>


<!-- <div class="map">
  <img class="map-image"
    <%= image_tag ("/assets/essay.png")%>
  </div>
</div> -->
 <!--  <div class="ornementation">
       <%= image_tag ("/assets/ornementation-fin.png")%>
  </div>  -->
</div>

