
<div class="container">
  <div class="intro-note">

 <h1>Prélude</h1>
   Il était une fois en Italie, des villes aux allures de château fort. <br>
   Pour qui n'a pas oublié que les contes toujours dans un royaume  lointain. <br>
   Pour qui rêve d'aventure et d'histoires.
  </div>

  <p class="map">
  <img class="map-image"
    <%= image_tag ("/assets/carte.png")%>
  </p>
</div>

