
<div class="container">
  <div class="intro-note">
   Il était une fois en Italie, des villes aux allures de château fort.
   Pour qui n'a pas oublié que les contes commencent là bas, dans un royaume  lointain.Pour qui rêve d'aventure et d'histoires.
  </div>

  <p class="map">
  <img class="map-image"
    <%= image_tag ("/assets/carte.png")%>
  </p>
</div>

