
<div class="contain-er">
     <div class="title">ITaLOvE</div>
     <!-- <div class="note">
       <p>Italiam quaero patriam.<br>"Je cherche l'Italie."<br>Virgile, ÉNÉIDE, I</p>
     </div> -->
   <div class="copywrite">
    <p>© Capucine Cb. All rights reserved. blogitalove@gmail.com </p>
  </div>
</div>

