
<div class="container">
  <div class= "box">
  <div class="intro-note">
      <div class= "enluminure">
       <%= image_tag ("/assets/enluminure.png")%>
      </div>

       <p> Pays comme une botte de sept lieues, qui transporte son voyageur dans des villes forteresses.
       </p>

 </div>
 <div class="map">
  <img class="map-image"
    <%= image_tag ("/assets/mappa.png")%>
  </div>

  </div>
</div>

