
<div class="container">
  <!-- <div class="ornementation">
      <%= image_tag ("/assets/ornementation.png")%>
  </div>
  <div class= "box">
  <div class="intro-note">
      <div class= "enluminure">
       <%= image_tag ("/assets/enluminure.png")%>
      </div>



 </div> -->


 <div class="title">Italo.ve</div>

<p >
  "A Venise, ma minime personne a pris sa première leçon de planète, au sortir de classes où elle n'avait rien appris. L'école ne me fut qu'un long ennui, aggravé de blâmes, mérités; si l'encre me restait aux doigts, rien ne me restait dans la tête; les livres, quel poids Transporter le Quicherat des Champ-Élysées à ce Monceau que nomment plaine ceux qui n'ont pas gravi chaque matin
  la rue de Courcelles, cassait mes épaules étroites de citadin. Le macadam était dur à mes pieds; je pensais déjà à Venise, j'entendais célébrer cette ville-nénuphar, où chaque rue était la Seine."
</p>
<p>
  Paul Morand, Venises
</p>
<!-- <div class="map">
  <img class="map-image"
    <%= image_tag ("/assets/essay.png")%>
  </div>
</div> -->
 <!--  <div class="ornementation">
       <%= image_tag ("/assets/ornementation-fin.png")%>
  </div>  -->
</div>

