.content-city {
  flex-grow: 1;
  margin: auto;
  text-align: justify;
  position: relative;
  font-size: 18px;

  & .cadre {
  min-height: 90vh;
  align-items: stretch;
  margin-left: 150px;
  margin-right: 150px;
  }

  & .sous-cadre{
    display: flex;
    margin-top: 20px;
  }

  & .sideblock {
      align-content: space-around;
      justify: center;
      align-items: center;
      flex: 0 0 50%;
      margin: 10px;
  }

  & h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    font-size: 80px;
  }

  & .description-city{
    max-width: 440px;
    text-align: justify;
    margin: auto;
    margin-top: 20px;
  }

  & .title-city{
    margin: auto;
    display: flex;
  }


 & .top-info{
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  display: flex;
  margin-top: 10px;
}

& .heraldic {
 & > img {
    width: 80px;
    position: center;
    margin-left: 50px;
  }
 }

& .position {
  max-width: 77px;
  font-size: 12px;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
//      ///padding:6px 15px;
}

.thumbnails{
    padding: 40px;
    ///margin-left: 172px;
    display: flex;
    //flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    //margin-left: 200px;
    //margin-right: 200px;
    max-width: 630px;
    margin: auto;

  }

& p {
  font-family: 'Cabin Sketch', cursive;
  color: black;
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 17px;
}


.photo img {
  width: 130px;
  padding-bottom: 7px;
}

img {
  width: 100%;
  object-fit: cover;
  pointer-events: none;
  }
}


@media (max-width: 750px) {
.content-city {

  & .cadre {
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
  }

  & .sous-cadre {
    display: block;
  }

  & .top-info {
    display: block;
  }

  & h1 {
    font-size: 54px;
  }

  & .description-city {
    padding: 10px;
  }

  & .heraldic {
    & > img {
      text-align: center;
      margin: auto;
      width: 63px;
      }
    }
  }
}

@media (max-width: 320px) {
  .content-city {
    & h1 {
    font-size: 40px;
    }
  }
}


@media(min-width: 2790px) {
  .content-city {

    & h1 {
     font-size: 130px;
    }

    & .description-city {
     max-width: 1000px;
     font-size: 40px;
   }
  }
}



