.content-province {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 80px;
  text-align: justify;

  & h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Cormorant Infant', serif;
    font-weight: bold;
    font-size: 61px;


    & > span {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
      padding: 0 20px;
      border-bottom: double;
    }
  }

  & .sous-cadre{
    display: flex;
  }

  & .sideblock {
      align-content: space-around;
      justify: center;
      align-items: center;
      flex: 0 0 50%;
      margin: 10px;
  }

  & .sideblock-map {
      align-content: space-around;
      justify: center;
      align-items: center;
      flex: 0 0 50%;
      margin: 10px;
      padding:80px;
  }
  img {
     width: 80%;
  }

  & .province-box {
    max-width: 480px;
    margin-left: 50px;
  }

  & .town-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-right: 35px;
  }


  & .city-tag {
    font-family: 'Cabin Sketch', cursive;
    padding-top: 5px;
  }


  & .town-list a {
    display: block;

     &:not(:hover) {
      color: inherit;
      text-decoration: none;
     }

     &:hover {
      color: black;
      font-weight: bolder;
      text-decoration: none;
     }

     & > img {
      width: 60px;
     }
    }
}

@media (max-width: 500px) {
  .content-province {
    height: none;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
  }
 }

@media(min-width: 2790px) {
  .content-province {

    & h1 {
     font-size: 130px;
    }

    & .province-box {
     max-width: 909px;
   }

   & img {
    width: 75%;
   }
  }
}




