.container {
  display: flex;
  ///lign: center;
  //text-align: center;
}

.intro-note{
  max-width: 670px;
  padding: 40px;
  margin: 0 auto;
  text-align: justify;
 // vertical-align: middle;
  margin: auto;
}

