
.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 1em auto;
  padding-left: 19vh;
  padding-right: 19vh;
  grid-auto-rows: 17vh;
}

.wrapper div {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.wrapper div.zoom {
    grid-column-end: span 4;
    grid-row-end: span 4;
}

.wrapper div.portrait {
    grid-column-end: span 2;
    grid-row-end: span 4;
}

.wrapper div.triple-portrait {
    grid-column-end: span 2;
    grid-row-end: span 4;
}

.wrapper div.landscape {
    grid-column-end: span 3;
    grid-row-end: span 3;
}

.wrapper div.mini {
    grid-column-end: span 1;
    grid-row-end: span 2;
}
.wrapper div.all {
    grid-column-end: span 6;
    grid-row-end: span 6;
}
.wrapper div.bande {
    grid-column-end: span 6;
    grid-row-end: span 1;
}


img {
  width: 100%;
  //display: block;
  -o-object-fit: cover;
  object-fit: cover;
  border-top: 29px solid white;
  border-right: 5px solid white;
  border-left: 5px solid white;
}


 /* re-define your grid for mobile */
// @media (max-width: 750px) {
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 1em auto;
    padding-left: 30px;
    padding-right: 30px;
    grid-auto-flow: dense;
    grid-auto-rows: 36px;
  }

  .wrapper div {
    grid-column-end: span 6;
    grid-row-end: span 7;
  }

  .wrapper div.zoom {
    grid-column-end: span 6;
    grid-row-end: span 7;
  }

  .wrapper div.portrait {
    grid-column-end: span 3;
    grid-row-end: span 7;
  }
  .wrapper div.long-portrait {
    grid-column-end: span 3;
    grid-row-end: span 7;
  }

  .wrapper div.landscape {
    grid-column-end: span 6;
    grid-row-end: span 7;
  }

  .wrapper div.mini {
    grid-column-end: span 3;
    grid-row-end: span 7;
  }

   .wrapper div.all {
    grid-column-end: span 6;
    grid-row-end: span 7;
  }
}


/* re-define your grid for iPads */
// @media(max-width: 768px) {
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .wrapper {
    grid-auto-rows: 5vh;
    padding-left: 3vh;
    padding-right: 3vh;
    grid-auto-flow: dense;

  }
  .wrapper div {
    grid-column-end: span 2;
    grid-row-end: span 3;
  }

  .wrapper div.zoom {
    grid-column-end: span 4;
    grid-row-end: span 6;
  }

  .wrapper div.portrait {
    grid-column-end: span 2;
    grid-row-end: span 6;
  }

  .wrapper div.landscape {
    grid-column-end: span 3;
    grid-row-end: span 5;
  }

  .wrapper div.mini {
    grid-column-end: span 1;
    grid-row-end: span 3;
  }

   .wrapper div.all {
    grid-column-end: span 6;
    grid-row-end: span 9;
  }

}

/* re-define your grid for small screens */
@media(min-width: 1280px) {
  .wrapper {
  grid-auto-rows: 16vh;
  padding-left: 23vh;
  padding-right: 23vh;
  }
}

@media(min-width: 1400px) {
   .wrapper {
    grid-auto-rows: 16vh;
    }
}


@media(min-width: 1920px) {
   .wrapper {
    grid-auto-rows: 16vh;
    }
}
@media(min-width: 2300px) {
   .wrapper {
    grid-auto-rows:  14vh;
    }
}


/* re-define your grid huge screens */
@media(min-width: 2560px) {
   .wrapper {
    padding-left: 12vh;
    padding-right: 12vh;
    grid-auto-rows: 15vh;
    }
}

@media(min-width: 2790px) {
   .wrapper {
    grid-auto-rows: 14vh;
  }
}
@media(min-width: 4000px) {
   .wrapper {
    grid-auto-rows: 16vh;
    padding-left: 16vh;
    padding-right: 16vh;
  }
}
@media(min-width: 5000px) {
   .wrapper {
    grid-auto-rows: 20vh;
    padding-left: 20vh;
    padding-right: 20vh;
  }
}
