.gallery-layout {
display: flex;
flex-flow: row wrap;
max-width: 100%;
}

.gallery-layout__panel {
  order: 1;
  overflow: hidden;
  width: 33%;
}

.gallery-layout__panel_content {
  padding: 5px;
}
// .gallery-layout {
//   column-count: 3;
//   column-gap: 0;
//   column-fill: balance;
// }

// .gallery-layout__panel {
//   break-inside: avoid;
//   padding: 5px;
// }


// .gallery {
//   display: flex;
//   flex-wrap: wrap;
//   padding: 0 4px;
// }



/* Create four equal columns that sits next to each other */
.column {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
