
.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 1em auto;
  padding-left: 10vh;
  padding-right: 10vh;
  grid-auto-rows: 17vh;
}

.wrapper div {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.wrapper div.zoom {
    grid-column-end: span 4;
    grid-row-end: span 4;
}

.wrapper div.portrait {
    grid-column-end: span 2;
    grid-row-end: span 4;
  }

.wrapper div.landscape {
    grid-column-end: span 3;
    grid-row-end: span 3;
}

.wrapper div.mini {
    grid-column-end: span 1;
    grid-row-end: span 2;
}
.wrapper div.all {
    grid-column-end: span 6;
    grid-row-end: span 6;
}


img {
  width: 100%;
  //display: block;
  -o-object-fit: cover;
  object-fit: cover;
  border-top: 10px solid white;
  border-right: 5px solid white;
  border-left: 5px solid white;
}


 /* re-define your grid for tablet / Ipad */
@media(max-width: 1024px) {
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1em auto;
    padding-left: 20px;
    padding-right: 20px;
    grid-auto-flow: dense;
    grid-auto-rows: 60px;
}
.wrapper div {
    grid-column-end: span 2;
    grid-row-end: span 4;
  }

  .wrapper div.zoom {
    grid-column-end: span 4;
    grid-row-end: span 8;
  }

  .wrapper div.portrait {
    grid-column-end: span 2;
    grid-row-end: span 8;
  }

  .wrapper div.landscape {
    grid-column-end: span 2;
    grid-row-end: span 4;
  }

  .wrapper div.mini {
    grid-column-end: span 1;
    grid-row-end: span 4;
  }

  img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  border-top: 10px solid white;
  }
}
 /* re-define your grid for mobile */
@media(max-width: 767px) {
  .wrapper {
    /* re-define your grid for mobile and tablet */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 1em auto;
    padding-left: 20px;
    padding-right: 20px;
    grid-auto-flow: dense;
    grid-auto-rows: 36px;
  }

  .wrapper div {
    grid-column-end: span 6;
    grid-row-end: span 7;
  }

  .wrapper div.zoom {
    grid-column-end: span 6;
    grid-row-end: span 6;
  }

  .wrapper div.portrait {
    grid-column-end: span 3;
    grid-row-end: span 6;
  }

  .wrapper div.landscape {
    grid-column-end: span 6;
    grid-row-end: span 7;
  }

  .wrapper div.mini {
    grid-column-end: span 3;
    grid-row-end: span 6;
  }

   .wrapper div.all {
    grid-column-end: span 6;
    grid-row-end: span 6;
  }
}

@media(min-width: 2560px) {
   .wrapper {
    padding-left: 12vh;
    padding-right: 12vh;
    grid-auto-rows: 15vh;
    }
}

@media(min-width: 2790px) {
   .wrapper {
    grid-auto-rows: 17vh;
  }
}

