.map {
  //display: flex;
  margin: 30px;
  flex-grow: 1;
  //background: #F4F4F4;
}

.map-image {
  margin: auto;
  max-width: 50%;
  height: auto;
  max-height: 100vh;
  border: 4px solid #F4F4F4;
}
