.navbar {
    flex-shrink: 1;
    list-style-type: none;
    margin: 0 0 0 0px;
    padding: 10px 10px 10px 10px;
    padding-top: 2px;
    //width: 180px;
    min-height: 100vh;
    background-color: #eeeeee;
    //background-color: $medium-grey;
    //box-shadow: 7px 0 0 #2e2e2e, 0px 0 0 $dark-grey,
    box-shadow: 1px 0 0 lightgrey, 0px 0 0 $dark-grey;
    font-size: 16px;
  }

//dark- sublime- grey : #4b4b4b//

.navbar ul {
  text-decoration: none;
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 0px;
}

.navbar a {
    display: block;
    padding: 0px 1px;
    text-decoration: none;
    color: #7d7d7d;
}


/* Change the link color on hover */
.navbar a:hover {
    background-color: #eeeeee;
    color: white;
}

.region {
  margin: 10px 5px 14px;
  font-family: 'Cinzel', cursive;
  }

.region > a {
  //font-family: 'Montserrat', sans-serif;
 // font-family: 'Cinzel Decorative', cursive;
}

.villes {
  font-family: 'Josefin Sans', cursive;
}

// .openbtn {
//   display:none;
// }

.openbtn {
    display: none;
}

.sidepanel .closebtn {
   display: none;
}

@media only screen and (max-width: 700px) {
/* The sidepanel menu */
.sidepanel {
  //height: 250px; /* Specify a height */
  //width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #eeeeee; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  //padding: 8px 8px 8px 32px;
  text-decoration: none;
  //font-size: 25px;
  color: #7d7d7d;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  display: unset;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  display: unset;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
}



//   .Navbar__Items,
//   .Navbar {
//     flex-direction: row-reverse;
//   }
// //.region {
//     //display:none;
//   //}

// .Navbar__ToggleShow {
//   display: flex;

//   }
// .Navbar__Link-toggle {
//     align-self: flex-end;
//     display: initial;
//     position: absolute;
//     cursor: pointer;
//     margin: auto;
//    }


