.navbar {
    flex-shrink: 0;
    list-style-type: none;
    margin: 0 0 0 0px;
    padding: 0;
    padding-top: 2px;
    width: 180px;
    min-height: 100vh;
    background-color: #eeeeee;
    //background-color: $medium-grey;
    //box-shadow: 7px 0 0 #2e2e2e, 0px 0 0 $dark-grey,
    box-shadow: 1px 0 0 lightgrey, 0px 0 0 $dark-grey;
    font-size: 16px;
  }

//dark- sublime- grey : #4b4b4b//

.navbar ul {
  text-decoration: none;
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 0px;
}

.navbar a {
    display: block;
    padding: 0px 1px;
    text-decoration: none;
    color: #7d7d7d;
}


/* Change the link color on hover */
.navbar a:hover {
    background-color: #eeeeee;
    color: white;
}

.region {
  margin: 10px 5px 14px;
  font-family: 'Cinzel', cursive;
  }

.region > a {
  //font-family: 'Montserrat', sans-serif;
 // font-family: 'Cinzel Decorative', cursive;
}

.villes {
  font-family: 'Josefin Sans', cursive;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 700px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: row-reverse;
  }
//.region {
    //display:none;
  //}

.Navbar__ToggleShow {
  display: flex;

  }
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    margin: auto;
   }
}

