.navbar {
    flex-shrink: 0;
    list-style-type: none;
    margin: 0 0 0 0px;
    padding: 0;
    padding-top: 5px;
    width: 229px;
    min-height: 100vh;
    background-color: #eeeeee;
    //background-color: $medium-grey;
    //box-shadow: 7px 0 0 #2e2e2e, 0px 0 0 $dark-grey,
    box-shadow: 1px 0 0 lightgrey, 0px 0 0 $dark-grey,
  }

//dark- sublime- grey : #4b4b4b//

.navbar ul {
  text-decoration: none;
  list-style-type: none;
  padding-left: 25px;
 // margin-top: 10px;
}

.navbar a {
    display: block;
    //color: $light-gray;
    padding: 1px 0px;
    text-decoration: none;
    color: #7d7d7d;
}

/* Change the link color on hover */
.navbar a:hover {
    background-color: #eeeeee;
    color: white;
}

.region {
  margin: 10px 5px 20px;
  //text-transform: uppercase;
  font-family: 'Cinzel', cursive;
  //font-weight: bolder;
  }

.region > a {
  //font-family: 'Montserrat', sans-serif;
 // font-family: 'Cinzel Decorative', cursive;

}

.villes {
  //text-transform: capitalize;
  //font-family: 'Cabin Sketch/Quicksand', cursive;
  font-family: 'Josefin Sans', cursive;
}

.website-title{
  padding-left: 15px;
  font-weight: bold;
}
