<div class="content-city">
  <h1><span><%= @city.name %></span></h1>

    <div class= "position">
    43°46′45″ N <br>
    11°14′46″ E
    </div>

    <div class="emblems">
      <img class="heraldic-image" src="/images/blaz_florence.png" alt="heraldic" />
    </div>

    <p class="description-city">
    <%= @city.description %>
    </p>



<div class="thumbnails">
  <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
  <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
  <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
</div>

</div>

