<div class="content-province">
  <h1><span><%= @province.name %></span></h1>
  <p class="description-province">
  <%= @province.description %>
  </p>

  <ul class="emblems">
    <% @province.cities.each do |city| %>
              <!--  pour toutes les villes de la province en param do  -->
              <ul>
                <%= link_to city.name, city_path(city)  %>
                <!--  mettre le nom de la ville + redirection URL page dans son nom -->
              </ul>
            <% end %>
<!--
    <li>
      <a href="">

        <img class="heraldic-image" src="/images/blaz_florence.png" alt="" />
        Florence
      </a>
    </li>
    <li>
      <a href="">
        <img class="heraldic-image" src="/images/blaz_sienne.png" alt="" />
        Sienne
      </a>
    </li> -->

  </ul>
</div>
