<div class="content-province">
  <h1><span><%= @province.name %></span></h1>
  <br>
  <div class="description-province">
    <%= @province.description %>
 </div>
<br>
<br>
<div>
  <ul class="town-list">
    <% @province.cities.each do |city| %>
              <!--  pour toutes les villes de la province en param do  -->
    <ul>
      <div class="heraldic">
        <%= image_tag ("/assets/blaz_florence.png")%>
         <!-- How to make this an href clickable -->
       </div>
      <%= link_to city.name, city_path(city)  %>
    <!--  mettre le nom de la ville + redirection URL page dans son nom -->
    </ul>
    <% end %>
  </ul>
</div>
</div>
