<div class="content-province">
  <h1><span><%= @province.name %></span></h1>
<br>
  <div class="description-province">
    <%= @province.description %>
 </div>
<br>
hello
<div>
  <ul class="town-list">
    <% @province.cities.each do |city| %>
              <!--  pour toutes les villes de la province en param do  -->
    <ul>
    <%= link_to city.name, city_path(city)  %>
                <!--  mettre le nom de la ville + redirection URL page dans son nom -->

     <div class="heraldic">
      <%= image_tag ("/assets/blaz_florence.png")%>
     </div>
    </ul>
    <% end %>
  </ul>
</div>




</div>
